name: go-test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  go-test:
    name: go-test
    strategy:
      matrix:
        go-version: [1.20.x, 1.21.x]
    # TODO: switch back to ubuntu-latest
    runs-on: [self-hosted, x64, private-repos]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          # TODO: remove me when we switch back to ubuntu-latest
          # The cache upload is 200MB and takes forever on Starlink
          cache: false
      - name: go-test
        run: go test ./...
